<h3>send below content</h3>

<%= form_with(model: @post, url: post_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>Text:<%= @post.content %></p>
  <%= form.submit  "Tweet" %>
<% end %>