<h3>send below content</h3>

<%= form_with(model: @posts, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>Text:<%= @posts.content %></p>
  <%= form.submit  "Tweet" %>
<% end %>